.center {
  margin-top: 50px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #6495ED;
}

.pass {
  background-color: #32CD32;
}

.grid {
  display: flex;
  justify-content: space-evenly;
}

.sgpa,
.grade {
  padding: 10px;
  border: 1px solid #ccc;
}


/* nav */
nav {
  background-color: #5465FF;
  padding: 5px 30px 5px 0px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navItem1 {
  color: white;
  padding: 0px 40px 20px 30px;
  font-family: sans-serif;
}

.adminicon {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 40px;
}


.prefrontpage {
  color: white;
}